<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Sweet Haven</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="">
            <img src="images/logo.png" alt="Sweet Haven Logo" />
          </a>
        </div>

        <nav class="navbar">
          <ul>
            <div>
              <div class="search-form">
                <input
                  type="text"
                  placeholder="Search for baked goods..."
                  class="search-input"
                />
                <i class="fas fa-search search-icon"></i>
              </div>
            </div>
            <li><a href="index.html">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="">
                <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- hero section -->

    <section class="hero">
      <img src="images/hero.png" alt="hero" />
    </section>

    <!-- popular products section -->

    <section class="popular-products">
      <h1>Our Popular Products</h1>
      <div class="product-container">
        <div class="product-card">
          <img src="images/classic-croissant.jpg" alt="Croissant" />
          <h3>Classic Croissant</h3>
          <p>15 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/chocolate-croissant.jpg" alt="Chocolate Croissant" />
          <h3>Chocolate Croissant</h3>
          <p>20 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/chocolate-chip-cookies.jpg" alt="Cookies" />
          <h3>Chocolate Chip Cookies</h3>
          <p>17 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/new-york-cheeseccake.jpg" alt="Cheesecake" />
          <h3>New York Cheesecake</h3>
          <p>35 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/strawberry-cake.jpg" alt="Strawberry Cake" />
          <h3>Strawberry Cake</h3>
          <p>220 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/maccarons.jpg" alt="Macarons" />
          <h3>French Macarons</h3>
          <p>240 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/blubbery-muffins.jpg" alt="Muffins" />
          <h3>Blueberry Muffins</h3>
          <p>20 DH</p>
          <button>Order Now</button>
        </div>
        <div class="product-card">
          <img src="images/tiramisu.jpg" alt="Tiramisu" />
          <h3>Tiramisu</h3>
          <p>40 DH</p>
          <button>Order Now</button>
        </div>
      </div>
    </section>

    <!-- categories section -->
    <div class="main">
      <h1>Our categories</h1>
      <div class="product-grid">
        <div class="product-card featured">
          <h2>Special Cakes</h2>
          <a href="#">
            <img src="images/special-cakes.jpg" alt="Specialty Cakes" />
          </a>
        </div>

        <div class="product-card">
          <h2>Pastries</h2>
          <a href="#">
            <img src="images/Pastries.jpg" alt="Fresh Pastries" />
          </a>
        </div>

        <div class="product-card">
          <h2>Cupcakes</h2>
          <a href="#">
            <img src="images/cupcakes.jpg" alt="Cupcakes" />
          </a>
        </div>

        <div class="product-card">
          <h2>Cookies</h2>
          <a href="#">
            <img src="images/cookies.jpg" alt="Fresh Cookies" />
          </a>
        </div>

        <div class="product-card">
          <h2>Breads</h2>
          <a href="#">
            <img src="images/breads.jpg" alt="Artisan Breads" />
          </a>
        </div>
      </div>
    </div>
    <!-- about section -->
    <div class="about-container" id="About">
      <div class="about-image-container">
        <img src="images/bakery.jpg" alt="Our Bakery" class="about-image" />
      </div>

      <div class="about-info">
        <h1 class="about-title">Welcome to Our Bakery</h1>

        <p class="about-description">
          At our bakery, we believe that every bite tells a story. Our journey
          began with a simple love for baking and a passion for creating
          mouthwatering delights that bring people together. Using only the
          finest, carefully sourced ingredients, we craft a wide range of baked
          goods that promise freshness, quality, and unforgettable taste.
        </p>

        <p class="about-description">
          From flaky, buttery croissants to rich, chocolate-drizzled cakes, and
          from artisan sourdough breads to delicate, hand-piped pastries, our
          creations are designed to tantalize your taste buds. Each item is
          prepared with dedication, ensuring that you experience the warmth and
          joy of freshly baked treats in every bite.
        </p>
        <p class="about-description">
          Whether you're stopping by for a quick morning pastry, selecting the
          perfect cake for a special occasion, or simply indulging in a
          comforting loaf of bread, we have something for every craving. Our
          team of expert bakers pours their heart into every recipe, ensuring
          that our bakery feels like a home away from home.
        </p>
        <a href="#" class="btn">Check Our Products</a>
      </div>
    </div>

    <!-- <section class="location">
      <div class="location-content">
        <h2>Visit Us at Our Bakery</h2>
        <p>
          We’re excited to welcome you! Find us at our location on the map
          below:
        </p>
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.6362831932025!2d-7.635835564347828!3d33.58619715022197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d32ec3453e55%3A0xd5fd14fe98e62b80!2sGo%20My%20Code%20Morocco!5e0!3m2!1sen!2sma!4v1738389178334!5m2!1sen!2sma"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section> -->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h6>Menu</h6>
          <ul>
            <li><a href="#menu">Cakes</a></li>
            <li><a href="#menu">Pastries</a></li>
            <li><a href="#menu">Cookies</a></li>
            <li><a href="#menu">Bread</a></li>
            <li><a href="#menu">Desserts</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h6>About Us</h6>
          <ul>
            <li><a href="#about">Our Story</a></li>
            <li><a href="#about">Our Bakers</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#careers">Careers</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h6>Support</h6>
          <ul>
            <li><a href="#contact">Customer Service</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Order Guide</a></li>
            <li><a href="#">Delivery Options</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h6>Follow Us</h6>
          <div class="social-links">
            <a href="#" class="social-link">
              <img src="images/icons8-facebook-96.png" alt="Facebook" />
              <span>Facebook</span>
            </a>
            <a href="#" class="social-link">
              <img src="images/icons8-instagram-48.png" alt="Instagram" />
              <span>Instagram</span>
            </a>
            <a href="#" class="social-link">
              <img src="images/icons8-twitter-48.png" alt="Twitter" />
              <span>Twitter</span>
            </a>
            <a href="#" class="social-link">
              <img src="images/icons8-pinterest-48.png" alt="Twitter" />
              <span>Pintrest</span>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          &copy; 2025-2030 Sweet Haven Bakery | All Rights Reserved.
          <br />
          made with <i class="fa-solid fa-heart"></i> by Ikram
        </p>
        <div class="footer-bottom-links">
          <a href="#">Terms of Service</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Site Map</a>
          <select class="language-select">
            <option selected>Select Language</option>
            <option value="en">English</option>
            <option value="ar">Arabic</option>
          </select>
        </div>
      </div>
    </footer>
  </body>
</html>
