<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Sweet Haven</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />

  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="">
            <img src="images/logo.png" alt="Sweet Haven Logo" />
          </a>
        </div>

        <nav class="navbar">
          <ul>
            <div>
              <div class="search-form">
                <input
                  type="text"
                  placeholder="Search for baked goods..."
                  class="search-input"
                />
                <i class="fas fa-search search-icon"></i>
              </div>
            </div>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li>
              <a href="">
                <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- products menu -->
    <div class="category-options">
      <ul class="category-list">
        <li class="category-item">
          <a href="#" class="category-link">
            <p class="category-name">Breads</p>
            <p class="item-count">9 items</p>
          </a>
        </li>
        <li class="category-item">
          <a href="#" class="category-link">
            <p class="category-name">Croissants</p>
            <p class="item-count">10 items</p>
          </a>
        </li>
        <li class="category-item">
          <a href="#" class="category-link">
            <p class="category-name">Cakes</p>
            <p class="item-count">15 items</p>
          </a>
        </li>
        <li class="category-item">
          <a href="#" class="category-link">
            <p class="category-name">Cookies</p>
            <p class="item-count">7 items</p>
          </a>
        </li>
        <li class="category-item">
          <a href="#" class="category-link">
            <p class="category-name">Cupcakes</p>
            <p class="item-count">20 items</p>
          </a>
        </li>
      </ul>
    </div>

    <!-- bread-card section  -->

    <section class="bread-selection">
    <div class="selection-container">
        <div class="bread-card">
            <img src="images/classic-baguette.jpg" alt="Classic Baguette" />
            <h3>Classic Baguette</h3>
            <p>10 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/whole-wheat-bread.jpg" alt="Whole Wheat Bread"  />
            <h3>Whole Wheat Bread</h3>
            <p>15 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/sourdough-bread.jpg" alt="Sourdough Bread" />
            <h3>Sourdough Bread</h3>
            <p>20 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/rye-bread.jpg" alt="Rye Bread" />
            <h3>Rye Bread</h3>
            <p>18 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/focaccia.jpg" alt="Focaccia" />
            <h3>Focaccia</h3>
            <p>22 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/brioche.jpg" alt="Brioche" />
            <h3>Brioche</h3>
            <p>25 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/multigrain-bread.jpg" alt="Multigrain Bread" />
            <h3>Multigrain Bread</h3>
            <p>20 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/garlic-bread.jpg" alt="Pita Bread" />
            <h3>garlic Bread</h3>
            <p>12 DH</p>
            <button>Order Now</button>
        </div>
        <div class="bread-card">
            <img src="images/challah-bread.jpg" alt="Pita Bread" />
            <h3>challah Bread</h3>
            <p>12 DH</p>
            <button>Order Now</button>
        </div>
    </div>
</section>

  
 
  </body>
</html>
